.blue{
    color: blue;
    font-weight: 100;
}


.red{
    color: red;
}

#desing{
    font-family: fantasy;
}

a:link{
    color: red;
}
a:visited{
    color: green;
}
a:hover{
    color: chartreuse;
    text-decoration: overline;
}
