.blue{
    color: blue;
    font-weight: 100;
    text-decoration: overline;
}


.red{
    color: red;
    text-decoration: underline;
}

#design{
    font-family: fantasy;
}

a:link{
    color: red;
}
a:visited{
    color: green;
}
a:hover{
    color: chartreuse;
    text-decoration: overline;
}

a:active{
    color: blueviolet;
    text-decoration: line-through;
}