h2{
    color: rgb(255, 150, 0);
    font-size: 100px;
 
}



p{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}


h1 {
    margin: 100px 150px -50px 80px; /* top right bottom left */
    background-color: aqua;

    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 30px;
    padding-right: 900px;
}
